export(MCMC, MCMC.parallel, MCMC.add.samples, convert.to.coda)
import(Matrix)
import(parallel)
import(coda)

importFrom("stats", "rnorm", "runif")
importFrom("utils", "setTxtProgressBar", "txtProgressBar")
